@page
@model LeQuocVietRazor.Pages.user.IndexModel

@{
    ViewData["Title"] = "Index";
    var role = HttpContext.Session.GetString("Role");
    if (role == null)
    {
        Response.Redirect("/user/Login");
    }
    else if (int.Parse(role) != 3)
    {
        Response.Redirect("/news/Index");
    }
}

<h1>Index</h1>

<p>
    <a asp-page="Register">Create New Account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SystemAccount[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemAccount[0].AccountEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemAccount[0].AccountRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemAccount[0].AccountPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SystemAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountEmail)
            </td>
            <td>
                @switch (item.AccountRole)
                {
                    case 1:
                        @Html.Label("Staff")
                        break;
                    case 2:
                        @Html.Label("Lecturer")
                        break;
                    case 3:
                        @Html.Label("Admin")
                        break;
                }
            </td>
            <td>
                @Html.Label("********")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
