@page
@model LeQuocVietRazor.Pages.Category.DeleteModel

@{
    ViewData["Title"] = "Delete";
    var role = HttpContext.Session.GetString("Role");
    
    if (role == null)
    {
        Response.Redirect("/user/Login");
    }
    else if (int.Parse(role) != 1)
    {
        Response.Redirect("/news/Index");
    }
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.CategoryDesciption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryDesciption)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Category.CategoryId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
    <span class="text-danger">@Model.Message</span>
</div>
